<div class="container py-5">
  <!-- Heading with #332D56 -->
  <h2 class="mb-4 text-center display-4 fw-bold" [style.color]="'#332D56'">
    Our Book Collections
  </h2>

  <!-- Search Input - Moved to Top Right -->
  <div class="my-4 d-flex justify-content-end">
    <div class="position-relative w-sm-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Search books..."
        [(ngModel)]="searchQuery"
        (input)="searchBook()"
        [style.border-color]="'#71C0BB'"
        style="padding-right: 2.5rem"
      />
      <i
        class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"
      ></i>
    </div>
  </div>

  <!-- Book Grid -->
  <div class="row g-4">
    @for (Book of filteredBooks; track Book.id) {
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <app-book-card [Book]="Book"></app-book-card>
    </div>
    }@empty {

    <div class="my-5 text-center text-danger">
      <img src="book.png" alt="" width="100px" class="my-3" />
      <h3>No Books found</h3>
    </div>
    }
  </div>
</div>
